<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <style>
      #banner {
        height:360px;
        width:100%
      }
    </style>
    <title>Careers</title>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">CoRo Annotations!</h1>
      <img class="img-fluid" id = "banner" src="https://careers-website-1.arunraj0007.repl.co/static/image_1.jpg">
      <h2 class="text-center mt-2">About jovian</h2> 
      <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p>
      <h2 class="text-center">Open postions</h2>
      <p>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </p>
      <div class="text-center">
      <button class="btn btn-primary">Contact us</button>
        <p>Copyright @CoroAnnotations Chennai</p>
      </div>
    </div>
  </body>
</html>